@box-padding: 30px;
@box-padding-desktop: 40px;

// 상자
.box {
	//== 기본 모양
	.border(@line);
	background-color: @white;
	display: block;
	a& {
		.transition(all .2s ease);
		&:hover {
			border-color: @link;
		}
	}

	// 크기
	max-width: @content-width;
	.row & {
		max-width: 100%;
	}

	//== 여백
	margin-left:  auto;
	margin-right: auto;
	padding: @box-padding;
	@media (min-width: @grid-float-breakpoint) {
		padding: @box-padding-desktop;
	}
	.home &,
	.archive & { padding: 20px; }

	//== ul, ol
	ul, ol {
		padding: 0;
	}
}

// 자료
.single .data {
	.12px;

	//== 여백
	padding: @box-padding 15px;
	ul, ol { padding: 0 }
	@media (min-width: @grid-float-breakpoint) {
		padding: @box-padding-desktop 15px;
	}

	//== 위치와 크기
	margin-left: auto;
	margin-right: auto;
	max-width: @content-width;
	.row & {
		max-width: 100%;
	}

	//== 카테고리 제목
	.data-cat-title {
		margin: 20px 0 10px;
		&:first-child { margin-top: 0 }
	}
}

// 작성자 정보
.author-info {
	.13px;
	color: @gray-33;
	line-height: 20px;
	margin-top: @box-padding-desktop;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: @grid-float-breakpoint) {
		width: 50%;
	}

	//== 링크
	a {
		.link(@gray-33);
		&:hover,
		&:focus {
			.underline;
		}
	}

	//== 아이콘
	.fa {
		.opacity(.3);
		margin-right: 2px;
	}

	//== 행간
	p {
		margin-bottom: 4px;
	}

	//== 제목
	.author-title {
		margin-top: 0;
	}

	//== 썸네일
	.pull-left {
		margin-right: 15px;
	}

	//== 다른 작업들
	.list-inline {
		margin-bottom: 0;
		li {
			padding-left:   0;
			padding-right: 10px;
		}
	}
}
